﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MySecondView</title>
</head>
<body>
    <div>
        @ViewBag.WelcomeMessage <br />
        <br />
        This is the current time and date: @ViewBag.Time <br />
        <a asp-action="SupervisorInfo">
            Click here to see info on Supervisors
        </a>
        <br />
    </div>
</body>
</html>
