﻿@model List<PGMOnline.Models.Supervisor>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorInfo</title>
</head>
<body>
    <div>
        <h2>Our Supervisors</h2>
        <br />
        @foreach(Supervisor supervisor in Model)
        {
            <div>
                @supervisor.Name <b>@supervisor.FieldOfScience</b>
                <hr />
            </div>
        }
    </div>
</body>
</html>
